In [41]:
# insert src dir to path, so we can import modules from there
import sys
sys.path.append('../src')

#libraries
from pandas import json_normalize

# local modules
from myproject.config import data_sample
from rest_json_apis.api_wrapper import init_api

In [47]:
# create an api accessor
query = init_api("http://api.football-data.org/v2/",
    api_key="5d865fcfc48c413bb0596467c6e8af5f")

# query the api
response = query("competitions")
data_json = response['competitions']

# to dataframe
df = json_normalize(data_json, max_level=2)

,id,name,code,emblemUrl,plan,numberOfAvailableSeasons,lastUpdated,area.id,area.name,area.countryCode,...,currentSeason.startDate,currentSeason.endDate,currentSeason.currentMatchday,currentSeason.winner,currentSeason.winner.id,currentSeason.winner.name,currentSeason.winner.shortName,currentSeason.winner.tla,currentSeason.winner.crestUrl,currentSeason
0,2006,WC Qualification,None,None,TIER_FOUR,2,2018-06-04T23:54:04Z,2001,Africa,AFR,...,2019-09-04,2021-11-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2023,Primera B Nacional,None,None,TIER_FOUR,3,2020-05-15T00:00:02Z,2011,Argentina,ARG,...,2019-08-16,2020-06-14,30.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2024,Superliga Argentina,ASL,None,TIER_TWO,3,2020-03-10T12:10:19Z,2011,Argentina,ARG,...,2019-07-27,2020-03-01,22.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2025,Supercopa Argentina,None,None,TIER_FOUR,2,2019-05-03T05:08:18Z,2011,Argentina,ARG,...,2019-04-04,2019-04-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2147,WC Qualification,None,None,TIER_FOUR,2,2020-03-30T00:00:02Z,2014,Asia,ASI,...,2019-06-06,2021-11-16,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,2063,Primera División,None,None,TIER_FOUR,3,2020-05-23T00:00:12Z,2257,Uruguay,URY,...,2020-02-15,2020-11-28,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
145,2062,Primera División,None,None,TIER_FOUR,3,2020-05-23T00:00:13Z,2262,Venezuela,VEN,...,2020-01-26,2020-12-12,16.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
146,2061,V-League,None,None,TIER_FOUR,3,2020-05-16T00:00:15Z,2263,Vietnam,VIE,...,2020-02-22,2020-11-04,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
147,2060,Welsh Premier League,None,None,TIER_FOUR,3,2020-04-24T00:00:20Z,2264,Wales,WAL,...,2019-08-16,2020-05-30,22.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
148,2000,FIFA World Cup,WC,None,TIER_ONE,2,2018-08-23T12:16:17Z,2267,World,INT,...,2018-06-14,2018-07-15,3.0,NaN,773.0,France,France,FRA,https://upload.wikimedia.org/wikipedia/en/c/c3...,NaN

In [50]:
# Other way of accessin the library, wrapping it in a python function

from rest_json_apis.footballdata import competitions, teams, areas
comp = competitions()
comp

,id,name,code,emblemUrl,plan,numberOfAvailableSeasons,lastUpdated,area.id,area.name,area.countryCode,...,currentSeason.startDate,currentSeason.endDate,currentSeason.currentMatchday,currentSeason.winner,currentSeason.winner.id,currentSeason.winner.name,currentSeason.winner.shortName,currentSeason.winner.tla,currentSeason.winner.crestUrl,currentSeason
0,2006,WC Qualification,None,None,TIER_FOUR,2,2018-06-04T23:54:04Z,2001,Africa,AFR,...,2019-09-04,2021-11-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2023,Primera B Nacional,None,None,TIER_FOUR,3,2020-05-15T00:00:02Z,2011,Argentina,ARG,...,2019-08-16,2020-06-14,30.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2024,Superliga Argentina,ASL,None,TIER_TWO,3,2020-03-10T12:10:19Z,2011,Argentina,ARG,...,2019-07-27,2020-03-01,22.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2025,Supercopa Argentina,None,None,TIER_FOUR,2,2019-05-03T05:08:18Z,2011,Argentina,ARG,...,2019-04-04,2019-04-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2147,WC Qualification,None,None,TIER_FOUR,2,2020-03-30T00:00:02Z,2014,Asia,ASI,...,2019-06-06,2021-11-16,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,2063,Primera División,None,None,TIER_FOUR,3,2020-05-23T00:00:12Z,2257,Uruguay,URY,...,2020-02-15,2020-11-28,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
145,2062,Primera División,None,None,TIER_FOUR,3,2020-05-23T00:00:13Z,2262,Venezuela,VEN,...,2020-01-26,2020-12-12,16.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
146,2061,V-League,None,None,TIER_FOUR,3,2020-05-16T00:00:15Z,2263,Vietnam,VIE,...,2020-02-22,2020-11-04,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
147,2060,Welsh Premier League,None,None,TIER_FOUR,3,2020-04-24T00:00:20Z,2264,Wales,WAL,...,2019-08-16,2020-05-30,22.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
148,2000,FIFA World Cup,WC,None,TIER_ONE,2,2018-08-23T12:16:17Z,2267,World,INT,...,2018-06-14,2018-07-15,3.0,NaN,773.0,France,France,FRA,https://upload.wikimedia.org/wikipedia/en/c/c3...,NaN

In [51]:
comp[comp['area.name']=='Italy']

,id,name,code,emblemUrl,plan,numberOfAvailableSeasons,lastUpdated,area.id,area.name,area.countryCode,...,currentSeason.startDate,currentSeason.endDate,currentSeason.currentMatchday,currentSeason.winner,currentSeason.winner.id,currentSeason.winner.name,currentSeason.winner.shortName,currentSeason.winner.tla,currentSeason.winner.crestUrl,currentSeason
75,2019,Serie A,SA,None,TIER_ONE,15,2020-05-23T00:00:06Z,2114,Italy,ITA,...,2019-08-24,2020-05-24,38.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76,2122,Coppa Italia,CIT,None,TIER_THREE,3,2020-03-04T17:25:04Z,2114,Italy,ITA,...,2019-08-03,2020-05-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77,2123,Serie C,None,None,TIER_FOUR,3,2020-04-25T00:00:10Z,2114,Italy,ITA,...,2019-08-24,2020-06-06,38.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,2124,Supercoppa,None,None,TIER_FOUR,3,2019-01-17T08:15:01Z,2114,Italy,ITA,...,2019-12-22,2019-12-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,2121,Serie B,SB,None,TIER_TWO,15,2020-05-13T00:00:01Z,2114,Italy,ITA,...,2019-08-24,2020-06-09,38.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [54]:
# world population example
from rest_json_apis.world_population_kapsarc import world_population

wp = world_population()
wp

,country_name,value,year
recordid,,,
d3d392da009b0d5b00f8c9fbc8af8fb377daaea4,Afghanistan,31161376,2012
8bf1167832313cd3e30d1777086fcbb32587f43d,Albania,3089027,2000
4efbd9e3c5b4e3571679bc9cfe9a747a87d1a321,Albania,2905195,2011
3ba61270d01bc7420999675d4f4d34b105239779,Algeria,35977455,2010
1132ea6171335b8bb36c80483447fdecd5496ce9,American Samoa,55465,2018
...,...,...,...
aa079500eff34864124f5700def2c847d9ccb98a,Sub-Saharan Africa (excluding high income),868935336,2010
4aee7a7e1c8520233053bd6371a3252ca38eb70c,Sub-Saharan Africa (IDA & IBRD countries),1078306520,2018
809ad05b727b5cf5c8e71537c373cd0f47dd13fd,Sub-Saharan Africa (IDA & IBRD countries),869025106,2010
bcfc79bdbb7d9560f35b338070e02555b6c8a933,Upper middle income,2537625754,2012
c45b59dac2cfb4dee0c1d082951c70fd584b8aa1,World,7510990456,2017

In [90]:
# grouping observations by contry name, keeping the observatio
wp2 = (wp.groupby('country_name', as_index=False, sort=False)
        .apply(lambda x: x[x['year'] == x['year'].max()])
        )
wp2 = wp2.reset_index().drop(columns=['level_0']).set_index('recordid')
display(wp2)

,country_name,value,year
recordid,,,
9474656a54bf2454b46ec9cfbe6234dc0aa3c5f7,Afghanistan,37172386,2018
7fa760189cf21b6500872d305a03e7acf8617404,Albania,2866376,2018
69d8236ffe540a9875e1e297b9870f9b32e7592b,Algeria,42228429,2018
1132ea6171335b8bb36c80483447fdecd5496ce9,American Samoa,55465,2018
f5604cc1ff61bbd090d35d97eb18d697bf47128d,Andorra,77006,2018
...,...,...,...
5aa759bab1d8e76263730f55892a298d497f268e,Heavily indebted poor countries (HIPC),780234406,2018
8b9e0b93f0946705dc88f8bd92ea06b904be88dd,Least developed countries: UN classification,1009662578,2018
17798df26c9742330283d226bc72643992893992,Pre-demographic dividend,919485393,2018
ac1450870a68237e525650ce4a640a46305444fe,Botswana,2254126,2018
be3779c89e50fa0384eb7a6993cf6735fdd69d4b,San Marino,33785,2018